extend layout

block head
  title DefaultPage
  link(rel="stylesheet",href="/css/bootstrap.min.css")
  link(rel="stylesheet",href="/css/index.css")
  script(src="/js/jquery.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="/js/d3.min.js")
  script(src="/js/graph.js")
  script(src="/js/index.js")

block content
    div.container
        header
           h1 TP Asynchronous Server Technologies

        main
          .row
            form.form-inline#login
              label(for='login') Login
              input(type='text', name='login', class='form-control', placeholder="Votre login")
              label(for='password') Password
              input(type='password', name='password',class='form-control', placeholder="Mot de passe")
              input(type='submit', name='submit',class='form-control btn btn-primary')

              p#logintxt Login : le login de la personne en question (session)

          .row
            p Hello World
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .row
             button.btn.btn-success#get-metrics Get

          .row
             section#bloc_metrics
                table#tab-metrics(border="1").col-lg-3
                svg#graph.col-lg-9

          .row
             form.form-inline#save(action='metric/1.json',method='post')
               input(type='text',name='timestamp', class='form-control', placeholder="Param1")
               input(type='text',name='value', class='form-control', placeholder="Param2")
               input(type='submit', name='submit',class='form-control btn btn-primary',value='Save')

            #content
