extend layout

div.container
  block content
    main
      .row
        div#page_user
          .row
            section#connected
              h3 User Page
              h4 Connecté en tant que :
                span#username
          .row
            section#deconnexion
              div.col-lg-5.col-md-5.col-sm-4.col-xs-4
              form.form.col-lg-2.col-md-2.col-sm-4.col-xs-4(action='/disconnect',method='post')
                input(type='submit', name='submit',class='form-control btn btn-danger',id='submit_login',value='Disconnect')
              div.col-lg-5.col-md-5.col-sm-4.col-xs-4
          .row
            section#presentation
              p
                |Dans cette partie propre à chaque utilisateur on pourra :
                br
                |Stocker des metrics
                br
                |Afficher les metrics sous forme numérique et graphique

          .row
            section.col-lg-2.col-md-2.col-sm-1.col-xs-1
            section#btns.col-lg-8.col-md-8.col-sm-10.col-xs-10
            section.col-lg-2.col-md-2.col-sm-1.col-xs-1
          .row
            section.col-lg-1.col-md-1.col-sm-1.col-xs-1

            section#bloc_metrics.col-lg-10.col-md-10.col-sm-10.col-xs-10
              .row
                h3

              .row
                div.col-lg-5.col-md-5.col-sm-4.col-xs-4
                button.btn.btn-warning.btn_add_metric.col-lg-2.col-md-2.col-sm-4.col-xs-4 Add metric
                div.col-lg-5.col-md-5.col-sm-4.col-xs-4

              .row
                form.form-inline#save(action='metric/save.json',method='post')
                  input(type='hidden',name='id_batch', class='form-control')
                  input(type='text',name='id_metric', class='form-control', placeholder="Id Metric")
                  input(type='text',name='timestamp', class='form-control', placeholder="Timestamp")
                  input(type='text',name='value', class='form-control', placeholder="Value")
                  input(type='submit', name='submit',class='form-control btn btn-primary',value='Save')

              .row
                div.col-lg-1.col-md-1.col-sm-1.col-xs-1
                table#tab-metrics(border="1").table-hover.col-lg-3.col-md-3.col-sm-3.col-xs-12
                div.col-lg-1.col-md-1.col-sm-1.col-xs-2
                svg#graph.col-lg-6.col-md-6.col-sm-6.col-xs-9
                div.col-lg-1.col-md-1.col-sm-1.col-xs-1

            section.col-lg-1.col-md-1.col-sm-1.col-xs-1
