body
  background-image url('/img/background.jpg')
  background-repeat no-repeat
  background-attachment fixed
  font-family 'Roboto'

.container
  /*background rgba(0,0,0,0.65)*/
  margin-top 3%
  margin-bottom 1%
  border-radius 7px
  font-size 1.2em
  /*color white*/

header
  text-align center
  font-style italic
  margin-bottom 3px
  border-radius 7px

h1
  color yellow
  margin-bottom 3%

main form
  text-align center
  margin-bottom 3%
  margin-top 3%

  label,input
    margin-right 10px

#apropos
  margin-bottom 3%

  h3,p
    text-align center

#img_technos figure
   text-align center

  img
    border-radius 50%
    padding 2%

  figurecaption
    text-align center

#page_user
  text-align center

section
  margin-bottom 3%

#username
  margin-left 1%
  text-decoration underline

main #bloc_metrics
  margin-top 7%

  h3
    text-align center

  th,td
    text-align center

  #graph
    display block
    padding-left 7%

.btn
  text-align center

.btn_batch
  margin-left 1%

footer p
  margin-top 4%
  float:left

/*Graphique*/
.axis path,
.axis line
  fill none
  stroke #000
  shape-rendering crispEdges
.bar
  fill orange
  &:hover
    fill orangered

.x
  &.axis
    path
      display none

.d3-tip
  line-height 1
  font-weight bold
  padding 12px
  background rgba(0, 0, 0, 0.8)
  color #fff
  border-radius 2px
  &:after
    box-sizing border-box
    display inline
    font-size 10px
    width 100%
    line-height 1
    color rgba(0, 0, 0, 0.8)
    content "\25BC"
    position absolute
    text-align center
  &.n
    &:after
      margin -1px 0 0 0
      top 100%
      left 0
