body
  background-image url('/img/background_maths.jpg')
  font-family 'Roboto'

.container
  background rgba(0,0,0,0.65)
  margin-top 3%
  margin-bottom 1%
  border-radius 7px
  font-size 1.1em
  color white
header
  text-align center
  font-style italic
  margin-bottom 3px

  border-radius 7px

h1
  color yellow
  margin-bottom 3%

main form
   text-align center
   margin-bottom 3%
   margin-top 3%
main form label,input
   margin-right 10px

#apropos
   margin-bottom 3%

#apropos h3,p
   text-align center

#img_technos figure
   text-align center

#img_technos figure img
   border-radius 50%
   padding 2%

#img_technos figure figurecaption
   text-align center

#page_user
   text-align center

section
   margin-bottom 3%

#username
  margin-left 1%
  text-decoration underline

main #bloc_metrics
  margin-top 7%

#graph
   border-bottom solid 1px

main #tab-metrics th,td
  text-align center

.btn
  text-align center

#graph
   padding-top 2%

footer p
  margin-top 4%
  float:left
